
<%= link_to '글쓰기', new_post_path, class: "btn btn-warning" %>
<!-- <a href="/posts/new">글 쓰러가기</a> -->

<% @posts.each do |post| %>
  <% unless post.user.nil? %>
    <p>작성자 : <%= post.user.email %> </p>
  <% end %>
  <p><%= post.id %>번째 글</p>
  <p>제목 : <%= post.title %></p>
  <p>내용 : <%= post.content.html_safe %></p>  <!-- .html_safe 이걸 안하면 html태그로 나옴 -->
  <%= link_to '글보기', post, class: "btn btn-primary" %>

     <% if current_user and current_user.liked_posts.include? post %>
         <!-- <#%= link_to "/posts/#{post.id}/dislike", data: {id: post.id}, remote: true do %> -->
         <%= link_to "posts/#{post.id}/like", data: {id: post.id}, remote: true, method: :delete do %>
             <i class="fas fa-heart"></i>
         <% end %>
     <% else %>
         <!-- <#%= link_to "/posts/#{post.id}/like",  data: {id: post.id}, remote: true do %> -->
          <%= link_to "posts/#{post.id}/like", data: {id: post.id}, remote: true, method: :put do %>
             <i class="far fa-heart"></i>
          <% end %>
      <% end %>

       <span><%= post.liked_users.count %>  </span>

     <!-- <img src="likes.png">좋아요</img> -->
  <!-- <a href="/posts/<%=post.id%>">글 보러가기</a> -->
  <hr />
<% end %>

<!-- <div class="" -->
<%= paginate @posts %>
